h3 {
    text-align: center;
}

li, p {
    font-family: Verdana;

}
label {
    font-family: Verdana;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity {
    text-align: center;
    margin: 10px;
}

.activity label {
    display: block;
    text-align: center;
    cursor: pointer;
}

.activity img {
    display: block;
    margin: 0 auto;
}

.button {
    margin: 8px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-family: Verdana;
}
#datiBtn, #attivitaBtn, #donazioneBtn{
    background-color:black;
    color: white;
}
input[type=submit], #deleteUserBtn {
    background-color:darkred;
    color: white;
}
input[type=number] {
    padding: 3px;
    font-family: Helvetica, Arial;
}
.hidden {
    display: none;
}