body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.pagina {
    width: 92%;
    margin-left: 3%;
}
.pagina h1{
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-top: 2%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container ul{
    line-height: 30px;
    margin-left: 3%;
    font-family: Verdana;
}

label, span {
    font-family: Verdana;
    padding: 1%;
}

.button {
    margin: 1%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-family: Verdana;
    background-color: green;
    color: white;
}

.hidden {
     display: none;
 }

.activity {
    text-align: center;
    margin: 2%;
    width: 25%;
}

.activity label {
    display: block;
    text-align: center;
    cursor: pointer;
}

.activity img {
    display: block;;
    margin: 0 auto;
}

#deleteUserBtn {
    background-color: black;
    color: white;
}

input[type=number] {
    padding: 0.5%;
    font-family: Helvetica, Arial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}