body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.storia {
    width: 92%;
    margin-left: 3%;
}
.storia h1 {
    text-align: center;
}
.storia p {
    margin-top: 2%;
    margin-bottom: 8%;
}

.paragrafo {
    margin-bottom: 2%;
}

.risposta {
    display: flex;
}
.risposta p {
    font-style: italic;
}
.risposta img {
    max-width: 14%;
    height: auto;
    margin-left: 3%;
}