body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.pagina {
    width: 93%;
    margin-left: 3%;
}
.pagina h1 {
    text-align: center;
}

.contact-info {
    width: 33%;
    text-align: center;
    margin: auto;
}

.contact-form {
    width: 33%;
    margin: auto;
}

.etichetta {
    font-family: Verdana;
    margin-bottom: 1%;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    font-family: Helvetica, Arial;
    box-sizing: border-box;
}

.menu {
    margin-bottom: 0.5%;
    line-height: 20px;
}

.tasti {
    position: relative;
    width: 100%;
    margin-top: 1%;
}

.button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-family: Verdana;
}

input[type=submit] {
    position: absolute;
    right: 1%;
    background-color: #3498db;
    color: white;
}

input[type=reset] {
    background-color:black;
    color: white;
}